# App Environment
APP_ENV=development
DOCKER_TARGET=dev
DOCKER_CMD=air

# Database config
DB_HOST=db
DB_PORT=5432
DB_USER=survey_user
DB_PASSWORD=survey_pass
DB_NAME=survey_db

# JWT
JWT_SECRET=supersecretjwtkey

# Seed database on startup (true/false)
DB_SEED=true

# Role constants
ROLE_SUPER_ADMIN="Super Admin"
ROLE_ADMIN_ESELON_1="Admin Eselon 1"
ROLE_VERIFICATOR_ESELON_1="Verificator Eselon 1"
ROLE_ADMIN_BALAI="Admin Balai"
ROLE_VERIFICATOR_BALAI="Verificator Balai"
ROLE_SURVEYOR="Surveyor"
ROLE_PUBLIC="Public"

# Resource constants
RESOURCE_NEGARA="negara"
RESOURCE_PENGEMBANG="pengembang"
RESOURCE_SWADAYA="swadaya"
RESOURCE_GOTONGROYONG="gotongroyong"

# Banned Words
BANNED_WORDS="banned,words,example"